html {
    background-color: #0f1111;
}

#cyberpunk-logo{
    width: 426px;
    height: 105px;
}

.add-vehicle-cont {
    text-align: center;
}

.add-vehicle {
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #0f1111;
    color: #f8ef00;
    font-size: 40px;
    cursor: pointer;
}

.create-vehicle-btns {
    text-align: right;
}

.abort-btn,
.submit-btn {
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    text-transform: uppercase;
}

.abort-btn {
    border: solid #ff6859;
    background-color: #ff6859;
}

.submit-btn {
    border: solid #f8ef00;
    background-color: #f8ef00;
}