html {
    background-color: #0f1111;
}

#cyberpunk-logo{
    width: 426px;
    height: 105px;
}

.add-vehicle-cont {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}


.add-vehicle {
    background-color: #0f1111;
    color: #f8ef00;
    font-size: 40px;
    cursor: pointer;
}

.expand-btn,
.collapse-btn, 
.delete-btn {
    border: none;
    color: #f8ef00;
    font-size: 26px;
    cursor: pointer;
}

.create-vehicle-btns {
    text-align: right;
}

.abort-btn,
.submit-btn {
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    text-transform: uppercase;
}

.abort-btn {
    border: solid #ff6859;
    background-color: #ff6859;
}

.submit-btn {
    border: solid #f8ef00;
    background-color: #f8ef00;
}

.create-vehicle-form input,
.create-vehicle-form textarea,
.create-vehicle-form select {
    background-color: black;
    color: white;
    resize: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%
}

#upload-label img{
    border-radius: 25px;
    width: 480px;
    height: 168px;
}

#upload {
    display: none;
}

label {
    color: #00f0ff;
}

.create-new-vehicle {
    margin-top: 35px;
    margin-bottom: 40px;
}

.create-new-vehicle-content {
    background-color: black;
    border-radius: 25px;
    border: 2px solid #f8ef00;
    padding: 20px 20px 10px;
    color: whitesmoke;
}


.vehicle-details {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #f8ef00;
}

.info-left {
    color: #00f0ff;
    float: left;
    text-transform: uppercase;
}

.info-right {
    float: right;
    text-align: right;
}

.add-vehicle:hover {
    color: white;
}

.abort-btn:hover {
    border: solid #fb988f;
    background-color: #fb988f;
}

.submit-btn:hover {
    border: solid white;
    background-color: white;
}

.add-vehicle:hover,
.collapse-btn:hover,
.expand-btn:hover,
.delete-btn:hover {
    color: white;
}

.vehicle-content{
    margin-bottom: 30px;
    background-color: black;
    border-radius: 25px;
    border: 2px solid #f8ef00;
    padding: 20px 20px 10px;
    color: whitesmoke;
}

.vehicle-content .media h1,
.vehicle-content .media h4 {
    color: whitesmoke;
}

.vehicle-details {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #f8ef00;
}

figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
}

figure .image img {
    width: 480px;
    height: 168px;
    border-radius: 25px;
}

.expand-container {
    text-align: center;
}

.vehicle-options {
    text-align: right;
}

.collapse-btn {
    margin-bottom: 10px;
}
